.cart-control__minus {
  width: 26px;
  height: 25px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  text-align: center;
  line-height: 24px;
  border: 1px solid #d4d4d4;
  float: left;
  &:focus,
  &:hover {
    text-decoration: none;
  }
}
