// Глобальные переменные SCSS
// Данный файл будет автоматически подключен в начало каждого компилируемого scss-файла
// Изменения в этом файле приводят к пересборке технологии CSS

$font-family-sans-serif: 'Arial', sans-serif;
$container-md: 1010px;
$body-bg: #fff;

$brand-primary: #f57f29;

$headings-line-height: 1;

$border-radius-base:        0;
$border-radius-large:       0;
$border-radius-small:       0;
$breadcrumb-bg: #fff;
$breadcrumb-separator: '>';
$breadcrumb-color: #000;
$breadcrumb-active-color: #898989;
$breadcrumb-padding-vertical: 19px;
$breadcrumb-padding-horizontal: 35px;

$font-size-h1:            38px;
$font-size-h2:            33px;
$font-size-h3:            26px;
$font-size-h4:            24px;
$font-size-h5:            20px;
$font-size-h6:            18px;

$link-color: #f04d23;
$link-hover-color: #ee3224;

$btn-default-color:              #fff;
$btn-default-bg:                 #5f6b7b;
$btn-default-border:             #5f6b7b;

$btn-primary-color:              #fff;
$btn-primary-bg:                 #f57f29;
$btn-primary-border:             #f57f29;

$btn-info-color:                 #fff;
$btn-info-bg:                    #b7b7b7;
$btn-info-border:                #b7b7b7;
$btn-font-weight: bold;

$modal-sm: 356px;
$modal-inner-padding: 23px 28px 36px 28px;

$input-border-focus: #92694e;
$input-height-base: 37px;

$form-group-margin-bottom: 20px;

$table-cell-padding: 6px 12px;
$table-border-color: #bdbdbd;


$pagination-color: #405e76;
$pagination-bg: transparent;
$pagination-border: transparent;
$pagination-hover-color: #405e76;
$pagination-hover-bg: transparent;
$pagination-hover-border: transparent;
$pagination-active-color: #405e76;
$pagination-active-bg: transparent;
$pagination-active-border: transparent;
$pagination-active-border: transparent;
$pagination-hover-border: transparent;


//Миксины сборки
@import "mixin/mixin";
//Переопределение переменных Bootstrap должно производиться до этой строчки
@import "../libs/bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "../libs/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
