.cart-control__button {
  width: 26px;
  height: 25px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  text-align: center;
  line-height: 24px;
  border: 1px solid #d4d4d4;
  &:focus,
  &:hover {
    text-decoration: none;
    outline: none;
  }
}