$headings-margin-top: 46px;
$headings-margin-bottom: 0.45em;
$headings-margin-bottom-sm: 1.3em;
$headings-before-margin-bottom: -0.6em;

$type__h_1: $font-size-h1 !default;
$type__h_2: $font-size-h2 !default;
$type__h_3: $font-size-h3 !default;
$type__h_4: $font-size-h4 !default;
$type__h_5: $font-size-h5 !default;
$type__h_6: $font-size-h6 !default;

$type__base: $font-size-base !default;
